*{
    margin: 0 auto;
}

.divTudo {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(226, 226, 226);
}

.divLinha {
    clear: both;
}

/*elementos do cabeçalho*/
#divCabecalho {
    background-color: rgb(10, 59, 99);
    min-height:100px;
    padding: 20px 50px 10px 50px;
   
}

#h1TitulodoCabecalho {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-align: left;
}

/* elementos das tabelas de classificação */
#divClassificacao {
    width: 50%;
    background-color: #ffffff;
}

.tableClassificacao {
    width: 100%;
    text-align: center;
}

.h3TitulodoGrupo {
    font-size: 14px;
}

/*elementos da tabela de goleadores*/
#divGoleadores {
        width: 50%;
        background-color: #ffffff;
}
#tableGoleadores {
    width: 100%;
}
.h2titulosSessao {
    font-size: 14px;
}
/*elementosdos próximos jogos*/
#divJogos {
    width: 50%;
    background-color: #ffffff;
}
#tableJogos {
    width: 100%;
    text-align: center;
}